/*******************************************************
CONTENT

1. Main layout
2. Process

 */

/********************************************************
1. Main layout
 */

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: #cb3837;
}

.container {
  text-align: center;
}

/**************************************************
2. a)
 */

.ctrls{
  height: 7em;
  width: 100%;
  display: flex;
}

.ctrls>*{
  flex: 1;
  justify-content: space-evenly;
}



/**************************************************
1. b) Sub Container
 */

.sub-container{
  flex: 55%;
  display: flex;
  flex-direction: row;
}

.container-compliance{
  flex: 30%;

  position: relative;

  display: flex;
  flex-direction: column;

  border-right: 1.5px gray dashed;
}

.container-infrastructure{
  flex: 30%;
  border-right: 1.5px gray dashed;
}

.container-properties{
  flex: 40%;
  overflow: auto;
}

/**************************************************
2. Process container
 */
.container-process{
  flex: 35%;
  border-top: 1.5px gray dashed;
  border-bottom: 1.5px gray dashed;

  position: relative;

  display: flex;
  flex-direction: column;
}

.container-process .ctrls{
  height: 5em;
  text-align: center;
  padding: 10px;
}

.container-process .bpmn-io{
  flex: auto;
  height: 100%;
  width: 100%;
}

.container-process .selected-element-id{
  position: absolute;
  bottom: 10px;
  left: 10px;
}

/******
3. Log container
 */

.container-log{
  flex: 10%;
  min-height: 10em;
  width: 100%;
}

.log-content{
  width: 100%;
  height: 100%;
}
