/*******************************************************
CONTENT

0. Main layout
1. Controls
2. Process
3. Sub Container
4. Log

 */

/********************************************************
0.a) Main layout
 */

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: #cb3837;
}

.container {
  text-align: center;
}

/********************************************************
0.b) Menu layout
 */

/* The side navigation menu */
.menu {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 101;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9); /*  Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.menu a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.menu a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.menu .btnClose {
  position: fixed;
  top: 0px;
  right: 20px;
  margin-left: 50px;
}

/********************************************************
0.c) Popup Graph
 */

/*basic styles
*****************/
.popup {
  height: 100%;
  width: 100%;
  position: absolute; /* Stay in place */
  z-index: 100;
  left: -5000px;
  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y: hidden; /* Disable vertical scroll */
  display: flex;
}

.pop-controls {
  height: auto;
  width: 99%;
  margin-left: 5px;
  top: 5px;
  font-size: 20px;
}

.pop-controls a {
  color: #818181;
}

.pop-controls a:hover {
  color: #bebebe;
}

.pop-heading {
  height: auto;
  width: 99%;
  font-size: 15px;
  font-weight: bold;
  color: #818181;
  text-align: center;
}

/*container style popup graph
******************************/
.popup .container-pop {
  flex: 80%;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 1); /*  Black w/opacity */
}

.popup .container-pop .graph-io {
  height: 100%;
  width: 99%;
  position: relative;
}

.popup .container-properties {
  width: 300px;
}

/*container style popup About
******************************/
.popup .border_vertical {
  flex: 15%;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.8);
}

.popup .middle {
  flex: 70%;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 1);
}

.popup .middle .border_horizontal{
  height: 50px;
  background-color: rgba(0, 0, 0, 0.8);
}

.popup .middle .content{
  background-color: rgba(255, 255, 255, 1);
  height: 95%;
  padding: 10px;
  overflow-y: auto;
}

/**************************************************
1.) Section controls
 */

.ctrls {
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 10px grey;

  height: auto;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  padding: 5px;
}

.ctrls > * {
  margin: 10px;
  flex: 1;
  justify-content: space-evenly;
}

#menu {
  position: absolute;
  left: 5px;
  top: 2px;
}

/**************************************************
3. Section Sub
 */

.sub-container {
  flex: 50%;
  display: flex;
  flex-direction: row;
  margin-top: 6px;
  box-shadow: 0 2px 10px grey;
}

/**************************************************
3.a) Compliance-Container
 */

.container-compliance {
  flex: 40%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.container-compliance .input-search-requirement {
  heigth: 5em;
  /*flex: 10%;*/
  margin: 2px;
}

.container-compliance .list-requirement {
  height: 100%;
  flex: 33%;
  margin: 2px;
}

.sub-container .requirement {
  height: 100%;
  flex: 33%;
  margin: 2px;
}

.sub-container .buttonLink {
  height: 25px;
  margin: 3px;
}

.requirement > textarea {
  width: 99%;
  height: 100%;
}


/**************************************************
3.b) Infra-Container
 */

.container-infrastructure {
  flex: 40%;
  position: relative;
  flex-direction: column;
}

.container-infrastructure .infra-io {
  height: 90%;
  width: 99%;
  margin: 2px;
}

.container-infrastructure .selected-infra-element {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

/**************************************************
3.c) Properties Container
 */

.container-properties {
  overflow: auto;
  width: 300px;
  background-color: #f8f8f8;
  border-left: 1px solid #ccc;
}

#flownode-id {
  width: 90%;
}

#flownode-props {
  width: 90%;
  height: 5em;
}

#infra-id {
  width: 90%;
}

#infra-props {
  width: 90%;
  height: 5em;
}

#btnRmvExt {
  background-color: #f8f8f8;
  border-style: none;
  font-size: 15px;
}

#btnRmvProp {
  background-color: #f8f8f8;
  border-style: none;
}

#node-id {
  width: 90%;
}

#node-props {
  width: 90%;
  height: 20em;
}

#analyze-node-id {
  width: 90%;
}

#analyze-node-props {
  width: 90%;
  height: 20em;
}

/**************************************************
2. Process container
*/
.container-process {
  display: flex;
  flex-direction: row;
  box-shadow: 0 2px 10px grey;
  flex: 50%;
}

.bpmn-container {
  flex: auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

.bpmn-container .ctrls {
  height: 5em;
  text-align: center;
  padding: 10px;
}

.bpmn-container .bpmn-io {
  flex: auto;
  height: 100%;
  width: 100%;
}

.bpmn-container .selected-element-id {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

/******
3. Log container
 */

.container-log {
  flex: 10%;
  min-height: 6em;
  width: 100%;
  max-height: 10em;
}

.log-content {
  width: 100%;
  height: 100%;
}
